body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:390px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u62_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:844px;
  background:inherit;
  background-color:rgba(152, 22, 84, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#981654;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:844px;
  display:flex;
  color:#981654;
}
#u62 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u62_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u63_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Nunito", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#F3F3F3;
  text-align:justify;
  text-justify:inter-word;
  line-height:24px;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:178px;
  width:260px;
  height:72px;
  display:flex;
  font-family:"Nunito", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#F3F3F3;
  text-align:justify;
  text-justify:inter-word;
  line-height:24px;
}
#u63 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u63_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u64_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:38px;
  background:inherit;
  background-color:rgba(243, 243, 243, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Nunito", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#981654;
  text-align:left;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:284px;
  width:260px;
  height:38px;
  display:flex;
  font-family:"Nunito", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#981654;
  text-align:left;
}
#u64 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u64_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:38px;
  background:inherit;
  background-color:rgba(183, 183, 183, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Nunito", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#981654;
  text-align:left;
}
#u64.selected {
}
#u64_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u65_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:38px;
  background:inherit;
  background-color:rgba(243, 243, 243, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Nunito", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#981654;
  text-align:left;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:337px;
  width:260px;
  height:38px;
  display:flex;
  font-family:"Nunito", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#981654;
  text-align:left;
}
#u65 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u65_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:38px;
  background:inherit;
  background-color:rgba(183, 183, 183, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Nunito", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#981654;
  text-align:left;
}
#u65.selected {
}
#u65_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u66_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Nunito Bold", "Nunito", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#F3F3F3;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:68px;
  width:260px;
  height:60px;
  display:flex;
  font-family:"Nunito Bold", "Nunito", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#F3F3F3;
}
#u66 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u66_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:439px;
  width:44px;
  height:44px;
  display:flex;
}
#u67 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u68_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:439px;
  width:44px;
  height:44px;
  display:flex;
}
#u68 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u68_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u69_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Nunito", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#F3F3F3;
  text-align:center;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:399px;
  width:260px;
  height:18px;
  display:flex;
  font-family:"Nunito", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#F3F3F3;
  text-align:center;
}
#u69 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u69_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
