body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:390px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u267_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:844px;
  background:inherit;
  background-color:rgba(152, 22, 84, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#981654;
}
#u267 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:844px;
  display:flex;
  color:#981654;
}
#u267 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u267_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u268_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Nunito", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#F3F3F3;
  text-align:justify;
  text-justify:inter-word;
  line-height:24px;
}
#u268 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:174px;
  width:260px;
  height:48px;
  display:flex;
  font-family:"Nunito", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#F3F3F3;
  text-align:justify;
  text-justify:inter-word;
  line-height:24px;
}
#u268 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u268_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u269_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:168px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Nunito", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#F3F3F3;
  text-align:justify;
  text-justify:inter-word;
  line-height:24px;
}
#u269 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:252px;
  width:260px;
  height:168px;
  display:flex;
  font-family:"Nunito", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#F3F3F3;
  text-align:justify;
  text-justify:inter-word;
  line-height:24px;
}
#u269 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u269_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u270_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Nunito", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#F3F3F3;
  text-align:justify;
  text-justify:inter-word;
  line-height:24px;
}
#u270 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:545px;
  width:260px;
  height:48px;
  display:flex;
  font-family:"Nunito", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#F3F3F3;
  text-align:justify;
  text-justify:inter-word;
  line-height:24px;
}
#u270 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u270_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u271_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u271 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:748px;
  width:44px;
  height:44px;
  display:flex;
}
#u271 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u271_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u272_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u272 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:748px;
  width:44px;
  height:44px;
  display:flex;
}
#u272 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u272_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u273_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Nunito", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#F3F3F3;
  text-align:center;
}
#u273 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:708px;
  width:260px;
  height:18px;
  display:flex;
  font-family:"Nunito", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#F3F3F3;
  text-align:center;
}
#u273 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u273_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u274_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Nunito Bold", "Nunito", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#F3F3F3;
  text-align:justify;
  text-justify:inter-word;
  line-height:25px;
}
#u274 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:62px;
  width:260px;
  height:75px;
  display:flex;
  font-family:"Nunito Bold", "Nunito", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#F3F3F3;
  text-align:justify;
  text-justify:inter-word;
  line-height:25px;
}
#u274 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u274_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u275_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u275 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:442px;
  width:60px;
  height:60px;
  display:flex;
}
#u275 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u275_img.selected {
}
#u275.selected {
}
#u275_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u276_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u276 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:442px;
  width:60px;
  height:60px;
  display:flex;
}
#u276 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u276_img.selected {
}
#u276.selected {
}
#u276_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u277_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u277 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:442px;
  width:60px;
  height:60px;
  display:flex;
}
#u277 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u277_img.selected {
}
#u277.selected {
}
#u277_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u278_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u278 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:617px;
  width:60px;
  height:60px;
  display:flex;
}
#u278 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u278_img.selected {
}
#u278.selected {
}
#u278_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u279_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u279 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:617px;
  width:60px;
  height:60px;
  display:flex;
}
#u279 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u279_img.selected {
}
#u279.selected {
}
#u279_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u280_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u280 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:617px;
  width:60px;
  height:60px;
  display:flex;
}
#u280 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u280_img.selected {
}
#u280.selected {
}
#u280_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
